/* 
********************************************************************

1 May 2018, 23:20



********************************************************************
*/




/* GLOBAL STYLES */

body, html {
    font-family: 'Rokkitt', serif;
    font-size: 20px;
}

.subtitle {
    font-style: italic;
    font-size: 25px;
    font-weight: bold;
    text-align: center
}

p.initial-letter:first-child:first-letter {
  color: #FF8300;
  float: left;
  font-family: Rokkitt;
  font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}



footer{
    border-top: 2px solid black;
    padding-top: 20px;
    text-align: center;
    background-color:  #FF8300;
    height: 150px;
}


/*BANNER IMAGE*/




/*
**********************************************************
29 April 2018, 7 p.m.
Code below works for centering Photoshop image in header; replaces image with text
created with CSS. 
***********************************************************
*/


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

img {
    border:2px solid #021a40;
    margin-bottom: 30px;
}



/*
************************************************************
HORIZONTAL NAVIGATION BAR
************************************************************
*/

#nav {
width:750px;
margin:0 auto;
list-style:none;
font-weight: bold;
}
#nav li {
float:left;
}
#nav a {
display:block;
text-align:center;
width:150px; /* fixed width */
text-decoration:none; 
}
	

#nav {
    text-transform: UPPERCASE;
    text-shadow: 10px 10px 10px #FF8300;
    background-color: #fff;
    overflow: hidden;
}

#nav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}


#nav a:hover {
    background-color: #FF8300;
    color: black;
    font-size:120%;
}


#nav a:active {
    background-color: white;
    color: #A4AB96;
}


  


/*
***************************************************************
HORIZONTAL RULE BELOW NAVIGATION BAR
**************************************************************
*/

hr.style1{
	border-top: 1px solid #FF8300;
}




/*MAIN COLUMN*/



#pumpkin-tree {
   
    
    width: 300px;
    padding: 5px 30px 80px 5px;
    margin-right: 10px;
    margin-bottom: 80px;
    
}







/*  "PATRON SAINT"*/

.splash {
 background-image: url("../images/50percentraven.png");
background-repeat: 
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#poe-photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding:0;
    width: 50%;
}

#raven-quote {
    position: relative;
    text-align: center;
    color: white;
}
   #raven-quote {
    font-style: italic;
    text-align: center;
    font-size: 150%;
    text-decoration: none;
}

#raven-quote a {
    text-decoration: none;
    color: black;
}

#raven-quote a:visited {
    color: #FF8300;
}
 

#raven-quote a:hover {
    background-color: #FF8300;
    color: black;
}


#raven-quote a:active {
    background-color: white;
    color: #A4AB96;
}    
  
  
  
#container{
    
    background-color: #FFF;
    background-image: url("./images/raven.jpg");
    
}
   
   
 /* CONTENT PAGE 3 [CURRENTLY, "RESOURCES"]*/ 
   
#scary-movie {
        border-collapse: collapse;
    width: 100%;
}

table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
}

tr:nth-child(even){background-color: #FF8300;}

tr:hover {background-color: #ddd;}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #000;
    color: white;
}




* {
    box-sizing: border-box;
}



.header {
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
    font-size: 35px;
}


.row {
    display: -webkit-flex;
    display: flex;
}

/* Create three unequal columns that sits next to each other */
.column {
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
}

/* Left and right column */
.column.side {
   -webkit-flex: 1;
   -ms-flex: 1;
   flex: 1;
}






/* Middle column */
.column.middle {
    -webkit-flex: 2;
    -ms-flex: 2;
    flex: 2;
}










/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .row {
      -webkit-flex-direction: column;
      flex-direction: column;
    }




#scary-movie {
    font-family: "Rokkitt", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#scary-movie td, #scary-movie th {
    border: 1px solid #ddd;
    padding: 8px;
}

#scary-movie tr:nth-child(even){background-color: #FF8300;}

#scary-movie tr:hover {background-color: #ddd;}

#scary-movie th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #000;
    color: white;
}







/* "CONTACT US"]*/



.splash1

background-image: url("../images/60percentcrownedskull.png");
 background-repeat: 
  background-size: cover;
  background-position: center;
  background-attachment: fixed;


#email {
    position: relative;
    text-align: center;
    color: #000;
    text-decoration: none;
}
   #email {
    font-style: italic;
    text-align: center;
    font-size: 150%;
    text-decoration: none;
}

#email a {
    text-decoration: none;
    color: black;
}

#email a:visited {
    color: #FF8300;
}
 

#email a:hover {
    background-color: #FF8300;
    color: black;
}


#email a:active {
    background-color: white;
    color: #A4AB96;
}    
  
  
  img {
    float: right;
}

/*
**********************************************************









#contact-content1 {
   text-align: center;
   background-color: red;
}



#contact-content2
#contact-content3
#contact-content4
#contact-content5


    
    
    



************************************************************
*/










}